version: '3.8'

networks:
  # Ce réseau permet aux services de monitoring de communiquer avec la stack applicative principale.
  # Remplacez 'cloudnativeapplicationcurse_default' si le nom de votre réseau par défaut est différent.
  # Vous pouvez trouver le nom avec 'docker network ls'.
  default:
    name: cloudnativeapplicationcurse_app-network
    external: true
  monitoring:
    driver: bridge

volumes:
  prometheus_data:
  grafana_data:
  loki_data:

services:
  prometheus:
    image: prom/prometheus:v2.48.1
    container_name: prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    networks:
      - default
      - monitoring
    restart: unless-stopped

  loki:
    image: grafana/loki:2.9.2
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./monitoring/loki/loki-config.yaml:/etc/loki/local-config.yaml
      - loki_data:/loki
    ports:
      - "3100:3100" # Port interne, mais exposé pour le débogage
    networks:
      - monitoring
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.2
    container_name: promtail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./monitoring/promtail/promtail-config.yml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitoring
    restart: unless-stopped

  grafana:
    image: grafana/grafana-oss:10.2.2
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3001:3000"
    networks:
      - default # Pour accéder à Prometheus via le réseau Docker
      - monitoring
    restart: unless-stopped
